# Database Configuration
MONGO_URI=mongodb://127.0.0.1:27017/

# Frontend API URL Configuration
NEXT_PUBLIC_API_URL=/api

# Email / SMTP Settings (For OTP & Email Notifications)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SENDER_EMAIL=your-email@gmail.com

# Authentication / Security
JWT_SECRET_KEY=your-random-32-byte-secret-key-here
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
